body {
    background-color: tan;
}

.container {
    height: 600px;
    float: {
        position: relative;
}

p {
    font-weight: lighter;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media screen {
    max-width: 400px;
}