body {
    background-color: tan;
}
.container {
    height: 600px;
}

#myName {
    margin: 30px;
}

#myEmail {
    margin: 30px;
    margin-right: 20px;
    padding: 50px;
}

#myMessage {
    margin: 30px;
}

@media screen {
    max-width: 400px;
}