body {
    background-color: tan;
    background-image: repeating-linear-gradient(190deg, tan, beige
    7%, gray 10%);
    background-image: -moz-radial-gradient(95deg, orange, yellow
    5%. gray 10% );
}

.container {
    height: 600px;
    float: {
        position: relative;
    }
}

p {
    font-weight: lighter;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media screen {
    max-width: 400px;
}